{% extends "account_base.html"%}
{% load i18n %}
{% block MAIN %}

<div class="row">
        <div class="tabs">
                <div class="tabs--title">
                        <div class="full welcome-text center">
                                <p> {% trans "Welcome" %} {{name}}</p>
                        </div>
                </div>
                <div class="row">
                        <ul  class="action-list listview">
                                <li class="action list-item"><a class="link" href="{%url 'accounts:update' account.account_uuid %}"> {% trans "Edit my account" %}</a> </li>
                                <li class="action list-item"><a class="link" href="{%url 'accounts:password-change' %}"> {% trans "Change my password" %}</a> </li>      
                        </ul>
                </div>
        </div>
        <!--End of tabs-->
</div>

{% endblock MAIN %}